:root {
    /* GREEN THEME ? */
    /* variables */  
    --color-primary: #0E67B4;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #9bc4e2;
    --color-bg-4: #003347;
    --color-orange: #d2672e;
    --color-dark: #0c0908;
    --color-white: hsl(0, 0%, 90%);
 
    --secondary: #6b4b3e;
 
    --container-width-lg: 88%;
    --container-width-md: 92;
 
    --transition: all 400 ms ease; 
 }
 
 * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
 }
 
 html {
    scroll-behavior: smooth;
 
 }

 .container {
    width: 100%;
    height: 18vh;
    background-position: center;
    background-size: cover;
 }
 
 .sec-container{
    display: flex;
 }

 .about-container {
    background-color: var(--color-dark);
    height: 100vh;
    width: 100vw;
 }
 
 
 body { 
    font-family: 'Lato', sans-serif;
    background-color: var(--color-dark);
 }
 
 h1, h2, h3, p {
    color: var(--color-white);
    position: absolute;
    line-height: 1.1;
    font-weight: 400;
 }
 
 h1 {
    font-size: 4rem;
    left: 36%;
    text-shadow: 4px 4px 5px rgb(203, 107, 11);
 }
 
 h2 {
    left: 39%;
    text-shadow: 4px 4px 5px rgb(203, 107, 11);
    top: 213%;
 }
 
 h3 {
    font-size: 1rem;
    bottom: 10px;
    left: 48%;
 }

 p {
   line-height: 1.7;
   font-size: 1.5rem;
   border: 2px solid var(--color-orange);
   outline: 2px solid var(--color-orange);
   outline-offset: -25px;
   width: 51%;
   left: 25%;
   padding: 40px;
   text-align: center;
}
 
 a {
    color: var(--color-white);
    font-size: 35px;
    transition: var(--transition);
 }
 
 
 a:hover {
    color: var(--color-orange);
 }
 
 img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }
 
 /* START OF NAV BAR CSS */
nav {
    height: 6rem;
    display: grid;
    place-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
 }
 
 
 .nav-container {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   width: var(--container-width-lg);
}

/* only for mobile */
.nav__toggle-btn {
   display: none;
}

.nav-logo {
   width: 8.5rem;
}

.nav-socials a:hover {
   color: var(--color-primary);
}

 /*s style for about page */

 .paragraph-container{
   height: 40vh;
   padding: 30px;
   margin-bottom: 40px;
 }

 .contact-container {
   width: 100%;
   height: 100px;
 }

 .contact-container a {
   font-size: 1.8rem;
   margin-top: 25px;
 }

